<div class="card">
    <div class="card-header">
        <h2>Lista de produtos</h2>
    </div>
    <div class="card-body">


        <div class="row">
            <div class="col-2">
                <a href="/Produtos/CadastroProdutos" class="btn btn-success">
                    Novo produto
                </a>
            </div>

            <div class="col-3">
                <select name="filtro" class="form-control">
                    <option value="0">Todos os campos</option>
                    <option value="id">Por id</option>
                    <option value="nome">Por nome</option>
                    <option value="quantidade">Por quantidade</option>
                </select>
            </div>
            <div class="col-5">
                <input type="text" name="busca" class="form-control"></input>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" type="submit">Pesquisar</button>
            </div>
        </div>

        <table class="table table-striped">


            <thead>
                <tr>
                    <th>Código</th>
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Açucar</td>
                    <td>13.99</td>
                    <td>15</td>
                    <td>
                        <a href="produtos/editar/1" class="btn btn-warning">
                            Editar produto 1
                        </a>

                        <a href="produtos/excluir/1" class="btn btn-danger">
                            Excluir produto 1
                        </a>

                    </td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Manteiga</td>
                    <td>5.99</td>
                    <td>10</td>
                    <td>
                        <a href="produtos/editar/2" class="btn btn-warning">
                            Editar produto 2
                        </a>

                        <a href="produtos/excluir/2" class="btn btn-danger">
                            Excluir produto 2
                        </a>



                    </td>
                    

                </tr>

                <tr>
                    <td>3</td>
                    <td>KG Colchão Mole</td>
                    <td>39.99</td>
                    <td>15</td>
                    <td>
                        <a href="produtos/editar/3" class="btn btn-warning">
                            Editar produto 3
                        </a>

                        <a href="produtos/excluir/3" class="btn btn-danger">
                            Excluir produto 3
                        </a>

                    </td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>Arroz</td>
                    <td>13.99</td>
                    <td>20</td>
                    <td>
                        <a href="produtos/editar/4" class="btn btn-warning">
                            Editar produto 4
                        </a>

                        <a href="produtos/excluir/4" class="btn btn-danger">
                            Excluir produto 4
                        </a>


                   
                </tr>
            </tbody>



        </table>



    </div>
</div>